torch
torchvision
matplotlib
imageio
imageio-ffmpeg
pyyaml # yaml
tqdm
argparse
cython
scikit-image # skimage
onnxruntime
gradio
pygame
pillow
mediapipe
imutils==0.5.3
opencv-contrib-python==4.8.1.78
opencv-python>=4.8.1.78
dlib-bin==19.24.6
numpy==1.26.4
cmake==3.18.0
scipy==1.11.4
